@tailwind base;
@tailwind components;
@tailwind utilities;

#Cta {
  background-image: url("./assets/images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  #Cta {
    background-image: url("./assets/images/bg-boost-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

.ficon:hover {
  filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg)
    brightness(100%) contrast(90%);
}
